@import "tailwindcss";

/* انگلیسی، روسی (لاتین + سیریلیک) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* فارسی / عربی */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
/* هندی (Devanagari) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap');
/* چینی ساده‌شده */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');


body {
  margin: 0;
  background-color: #121212; /* A nice dark background */
  color: white;
  font-family: 'Noto Sans', 'Noto Sans Arabic', 'Noto Sans Devanagari', 'Noto Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none; /* Prevents text selection on tap */
}

* {
  -webkit-tap-highlight-color: transparent;
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* کروم، سافاری */
}

.scroll-hidden {
  -ms-overflow-style: none; /* IE و Edge */
  scrollbar-width: none; /* فایرفاکس */
}

/* برای کل سایت */
::-webkit-scrollbar {
  width: 6px; /* ضخامت اسکرول‌بار */
}

::-webkit-scrollbar-track {
  background: #452fa6; /* رنگ پس‌زمینه */
}

::-webkit-scrollbar-thumb {
  background-color: #ee34c8; /* رنگ اسکرول */
  border-radius: 10px; /* گرد کردن */
}

/* برای فایرفاکس */
* {
  scrollbar-width: thin;
  scrollbar-color: #ee34c8 #452fa6;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loadingContainer,
.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 1.5rem;
}

.errorContainer {
  color: #e74c3c;
}

.ltr-direction {
  direction: ltr !important;
}
